@import "~bootstrap/dist/css/bootstrap.css";

/*s#wrapper {
    overflow-x: hidden;
}

#sidebar-wrapper {
    width: 10%;
}

.d-flex {
    display: flex !important;
}

#page-content-wrapper {
    min-width: 90%;
}*/

.no-padding {
    padding: 0 !important;
}

.sidebar-heading {
    padding: 1rem;
    font-weight: 900;
    font-size: 1.5em;
}